/* ul.pagination.justify-content-center li.page-item {
    cursor: pointer;
    color: black;
    margin: 0px 20px;
    font-weight: bold;
    padding: 10px 15px;
}
ul.pagination.justify-content-center li.page-item:hover{
    color: white;
    background: linear-gradient(135deg, #ff516b 0%, #826cfd 100%);
} */